<div class="dialog-wrapper">
  <h1>Nuevo Usuario</h1>

  <button mat-icon-button matDialogClose type="button" class="btn-close">
    <mat-icon>close</mat-icon>
  </button>

  <form [formGroup]="formCreate" class="mat-elevation-z8">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input formControlName="name" matInput type="text" placeholder="Nombre" />
      <mat-error *ngIf="formCreate.get('name')?.getError('required')"
        >Este campo es requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input
        type="email"
        formControlName="email"
        matInput
        placeholder="E-mail"
      />
      <mat-error *ngIf="formCreate.get('email')?.getError('required')"
        >Este campo es requerido</mat-error
      >
      <mat-error *ngIf="formCreate.get('email')?.getError('email')"
        >El mail debe tener el formato correcto</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        formControlName="password"
        matInput
        type="password"
        placeholder="Contraseña"
      />
      <mat-error *ngIf="formCreate.get('password')?.getError('required')"
        >Este campo es requerido</mat-error
      >
      <mat-error *ngIf="formCreate.get('password')"
        >La contraseña debe tener por lo mínimo de 8 caracteres</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="permission">
        <mat-option
          *ngFor="let permission of permissionList"
          [value]="permission.id"
          >{{ permission.role }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="formCreate.get('permission')?.getError('required')"
        >Debes seleccionar un rol</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-fab extended type="submit" (click)="onSubmit()" color="accent">
        Aceptar <mat-icon>done</mat-icon>
      </button>
      <button mat-fab extended type="button" (click)="onClose()" color="warn">
        Cancelar <mat-icon>close</mat-icon>
      </button>
    </div>
  </form>
</div>
