<h1>Lista de permisos</h1>


<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Rol</th>
        <td mat-cell *matCellDef="let role">{{role.role}}</td>
    </ng-container>
    <ng-container matColumnDef="usersTable">
        <th mat-header-cell *matHeaderCellDef>Permisos sobre tabla usuarios</th>
        <td mat-cell *matCellDef="let role">
            <span *ngFor="let item of role.actions.usersTable">{{item}} </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="permissionsTable" >
        <th mat-header-cell *matHeaderCellDef>Permisos sobre tabla permisos</th>
        <td mat-cell *matCellDef="let role">
            <span *ngFor="let item of role.actions.permissionTable">{{item}} </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="logsTable" >
        <th mat-header-cell *matHeaderCellDef>Permisos sobre tabla registros</th>
        <td mat-cell *matCellDef="let role">
            <span *ngFor="let item of role.actions.logsTable">{{item}} </span>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5]"></mat-paginator>

<button mat-button [routerLink]="'/'">Volver
    <mat-icon>arrow_back_ios</mat-icon>
</button>
