.table-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .table{
        min-width: 97%;

        table{
            height: 450px;
        }
    }
}