// define fonts


//define backgrounds

//define colors
$font-color: #f1f1f1;

//colors
$primary: #3f66fb;
$accent-1: #b57bff;
$accent-2: #fd8e39;
$error: #f03637;
$warn: #f3bb1b;
$success: #3dc03c;
$disable: #c2c9d1