<div class="container">
  <h2>Agregar Usuario</h2>
  <form [formGroup]="formEdit">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input formControlName="name" matInput type="text" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input formControlName="password" matInput type="password"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="permission">
        <mat-option *ngFor="let permission of permissionList" [value]="permission.id">{{permission.role}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Aceptar</button>
  <button mat-raised-button color="accent" type="button" (click)="onClose()">Cancelar</button>
</div>
