form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    border-radius: 8px;
    margin: 0 0 10px 0;
    padding: 14px 0;

    mat-form-field {
        width: 90%;
    }

    .mdc-button {
        width: 60%;
        height: 56px;
    }
}

.container {
    background-color: white;
    border-radius: 8px;
    margin-top: 60px;
    padding: 50px;
}