<div class="mat-elevation-z8 container">
  <h1>Ingreso</h1>

  <form [formGroup]="formLogin" class="mat-elevation-z2">
    <mat-form-field appearance="fill">
      <mat-label>Nombre Usuario</mat-label>
      <input matInput type="text" placeholder="Nombre usuario" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" placeholder="Contraseña" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" routerLink="/">Ingresar</button>
  </form>

  <a routerLink="/">no tienes usuario registrate aquí</a>
</div>
