<mat-toolbar class="mat-primary mat-elevation-z8">
  <div>
    <button color="primary" mat-flat-button routerLink="/">
      <mat-icon> home </mat-icon> Inicio
    </button>
    <button color="primary" mat-flat-button routerLink="users">
      <mat-icon>group</mat-icon>
      Lista de usuarios
    </button>
    <button color="primary" mat-flat-button routerLink="permissions">
      <mat-icon>manage_accounts</mat-icon>
      Lista de permisos
    </button>
    <button color="primary" mat-flat-button routerLink="access">
      Lista de accesos
      <mat-icon>app_registration</mat-icon>
    </button>
  </div>
  <button
    mat-fab
    extended
    type="button"
    color="accent"
    (click)="openDialogFormLogin()"
  >
    <mat-icon>login</mat-icon>
    Iniciar sesión
  </button>
</mat-toolbar>
