<mat-toolbar class="mat-primary mat-elevation-z8">
  <div>
    <button mat-button routerLink="users">
      Lista de usuarios
      <mat-icon>group</mat-icon>
    </button>
    <button mat-button routerLink="permissions">
      Lista de permisos
      <mat-icon>manage_accounts</mat-icon>
    </button>
    <button mat-button routerLink="access">
      Lista de accesos
      <mat-icon>app_registration</mat-icon>
    </button>
  </div>
  <button mat-button type="button" (click)="openDialogFormLogin()">
    Iniciar sesión
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
