<div class="dialog-wrapper">
  <h1>Ingreso</h1>

  <button mat-icon-button matDialogClose type="button" class="btn-close">
    <mat-icon>close</mat-icon>
  </button>

  <form [formGroup]="formLogin" class="mat-elevation-z8">
    <mat-form-field appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input
        formControlName="email"
        matInput
        type="email"
        placeholder="Ej.ejemplo@ejemplo.cl"
      />
      <mat-error *ngIf="formLogin.get('email')?.hasError('required')"
        >Este campo es requerido</mat-error
      >
      <mat-error *ngIf="formLogin.get('email')?.hasError('email')"
        >Este campo debe tener el formato correcto</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        formControlName="password"
        matInput
        type="password"
        placeholder="Contraseña"
      />
      <mat-error *ngIf="formLogin.get('password')?.hasError('required')"
        >Este campo es requerido</mat-error
      >
    </mat-form-field>
    <!--TODO agregar API validación login-->
    <button
      mat-raised-button
      type="submit"
      (click)="onSubmit()"
      [disabled]="formLogin.invalid"
      color="accent"
    >
      Ingresar
      <mat-icon>done</mat-icon>
    </button>
  </form>

  <div class="register">
    <span>¿No tienes usuario?</span>
    <button mat-button (click)="openDialogFormCreate()" color="accent">
      Registrate aquí
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
